
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
 
# Python
__pycache__/
*.py[cod]
*.pyc
 
# Virtual environments
venv/
env/
.venv/
 
# OS files
.DS_Store
Thumbs.db
 
# Editor / IDE
.vscode/
.idea/
 
# Jupyter runtime
*.pid
 
 